edit policy-options prefix-list FILTRO-BOGONS-v4;
annotate 0.0.0.0/8 "Faixa de enderecos reservados para identificar que o host pertence a rede local";
annotate 10.0.0.0/8 "Faixa de enderecos privados";
annotate 100.64.0.0/10 "Faixa de enderecos privados do CGNAT";
annotate 127.0.0.0/8 "Faixa de enderecos reservados para loopback";
annotate 169.254.0.0/16 "Faixa de enderecos reservados para escopo local";
annotate 172.16.0.0/12 "Faixa de enderecos privados"; 
annotate 192.0.0.0/24 "Faixa de enderecos reservado para atribuição a protocolos específicos";
annotate 192.0.2.0/24 "Faixa de enderecos reservado para documentação"; 
annotate 192.168.0.0/16 "Faixa de enderecos privados";
annotate 198.18.0.0/15 "Faixa de enderecos reservado para testes - benchmarking";
annotate 198.51.100.0/24 "Faixa de enderecos reservado para documentação";
annotate 203.0.113.0/24 "Faixa de enderecos reservado para documentação";
annotate 224.0.0.0/3 "Faixa de enderecos reservado da antiga classe D de multicast e uso futuro";
