set policy-options prefix-list FILTRO-BOGONS-v6-DENY 2001:db8::/32
set policy-options prefix-list FILTRO-BOGONS-v6-ACCEPT 2000::/3
set policy-options prefix-list FILTRO-BOGONS-v6-ACCEPT 2000::/3
set policy-options prefix-list FILTRO-BOGONS-v6-ACCEPT ::/128
set policy-options prefix-list FILTRO-BOGONS-v6-ACCEPT ::/128
