set policy-options prefix-list FILTRO-BOGONS-v4 0.0.0.0/8
set policy-options prefix-list FILTRO-BOGONS-v4 10.0.0.0/8
set policy-options prefix-list FILTRO-BOGONS-v4 100.64.0.0/10
set policy-options prefix-list FILTRO-BOGONS-v4 127.0.0.0/8
set policy-options prefix-list FILTRO-BOGONS-v4 169.254.0.0/16
set policy-options prefix-list FILTRO-BOGONS-v4 172.16.0.0/12
set policy-options prefix-list FILTRO-BOGONS-v4 192.0.0.0/24
set policy-options prefix-list FILTRO-BOGONS-v4 192.168.0.0/16
set policy-options prefix-list FILTRO-BOGONS-v4 192.168.0.0/16
set policy-options prefix-list FILTRO-BOGONS-v4 198.18.0.0/15
set policy-options prefix-list FILTRO-BOGONS-v4 198.51.100.0/24
set policy-options prefix-list FILTRO-BOGONS-v4 203.0.113.0/24
set policy-options prefix-list FILTRO-BOGONS-v4 224.0.0.0/3
